IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33;

IO_LOC "rst_n" 32;
IO_PORT "rst_n" IO_TYPE=LVCMOS33;

IO_LOC "filas[0]" 25;
IO_PORT "filas[0]" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "filas[1]" 26;
IO_PORT "filas[1]" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "filas[2]" 27;
IO_PORT "filas[2]" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "filas[3]" 28;
IO_PORT "filas[3]" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "columnas[0]" 34;
IO_PORT "columnas[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "columnas[1]" 33;
IO_PORT "columnas[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "columnas[2]" 30;
IO_PORT "columnas[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "columnas[3]" 29;
IO_PORT "columnas[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "seven[6]" 35;
IO_PORT "seven[6]" IO_TYPE=LVCMOS33;

IO_LOC "seven[5]" 36;
IO_PORT "seven[5]" IO_TYPE=LVCMOS33;

IO_LOC "seven[4]" 37;
IO_PORT "seven[4]" IO_TYPE=LVCMOS33;

IO_LOC "seven[3]" 38;
IO_PORT "seven[3]" IO_TYPE=LVCMOS33;

IO_LOC "seven[2]" 39;
IO_PORT "seven[2]" IO_TYPE=LVCMOS33;

IO_LOC "seven[1]" 40;
IO_PORT "seven[1]" IO_TYPE=LVCMOS33;

IO_LOC "seven[0]" 41;
IO_PORT "seven[0]" IO_TYPE=LVCMOS33;

IO_LOC "anodo[0]" 42;
IO_PORT "anodo[0]" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "anodo[1]" 51;
IO_PORT "anodo[1]" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "anodo[2]" 53;
IO_PORT "anodo[2]" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "anodo[3]" 54;
IO_PORT "anodo[3]" IO_TYPE=LVCMOS33 DRIVE=8;