IO_LOC  "error_pos2[2]" 33;
IO_PORT "error_pos2[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "error_pos2[1]" 34;
IO_PORT "error_pos2[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "error_pos2[0]" 40;
IO_PORT "error_pos2[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "error_pos1[2]" 42;
IO_PORT "error_pos1[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "error_pos1[1]" 51;
IO_PORT "error_pos1[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "error_pos1[0]" 53;
IO_PORT "error_pos1[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "num_errors[1]" 54;
IO_PORT "num_errors[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "num_errors[0]" 55;
IO_PORT "num_errors[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "code_out[7]" 28;
IO_PORT "code_out[7]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "code_out[6]" 27;
IO_PORT "code_out[6]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "code_out[5]" 26;
IO_PORT "code_out[5]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "code_out[4]" 25;
IO_PORT "code_out[4]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "code_out[3]" 39;
IO_PORT "code_out[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "code_out[2]" 36;
IO_PORT "code_out[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "code_out[1]" 37;
IO_PORT "code_out[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "code_out[0]" 38;
IO_PORT "code_out[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "display[7]" 86;
IO_PORT "display[7]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "display[6]" 85;
IO_PORT "display[6]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "display[4]" 83;
IO_PORT "display[4]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "display[5]" 84;
IO_PORT "display[5]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "display[0]" 79;
IO_PORT "display[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "display[1]" 80;
IO_PORT "display[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "display[2]" 81;
IO_PORT "display[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "display[3]" 82;
IO_PORT "display[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "data_in[0]" 69;
IO_PORT "data_in[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "data_in[1]" 68;
IO_PORT "data_in[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "data_in[2]" 57;
IO_PORT "data_in[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "data_in[3]" 56;
IO_PORT "data_in[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
