IO_PORT "data_out[12]" DRIVE=8;

IO_PORT "data_out[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_PORT "data_out[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_PORT "data_out[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_PORT "data_out[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_PORT "data_out[4]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_PORT "data_out[5]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_PORT "data_out[6]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_PORT "data_out[7]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_PORT "data_out[8]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_PORT "data_out[9]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_PORT "data_out[10]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_PORT "data_out[11]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "data_in[7]" 51;
IO_PORT "data_in[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "data_in[0]" 69;
IO_PORT "data_in[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "data_in[1]" 68;
IO_PORT "data_in[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "data_in[2]" 57;
IO_PORT "data_in[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "data_in[3]" 56;
IO_PORT "data_in[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "data_in[4]" 55;
IO_PORT "data_in[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "data_in[5]" 54;
IO_PORT "data_in[5]" IO_TYPE=LVCMOS25 PULL_MODE=UP;

IO_LOC  "data_in[6]" 53;
IO_PORT "data_in[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
